# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Grade_6_L_1_F_Multi_Pri_F.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
